@using Microsoft.AspNetCore.Http
@using SlideInfo.App.Constants
@using SlideInfo.App.Helpers
@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
@if (Context.Session.GetString(SessionConstants.Alert) != null)
{
    @Html.Raw(Context.Session.GetString(SessionConstants.Alert))
    Context.Session.Remove(SessionConstants.Alert);
}
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd>
            @Model.FullName
            <a asp-controller="Manage" asp-action="ChangeName" class="btn-bracketed">Change</a>

        </dd>
      
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Your comments:</dt>
        <dd>
            @Model.CommentsCount 
            <a asp-controller="Manage" asp-action="Comments" class="btn-bracketed">Show</a>
        </dd>
    </dl>
</div>
