@using Microsoft.AspNetCore.Http
@using SlideInfo.App.Constants
@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
@if (Context.Session.GetString(SessionConstants.ALERT) != null)
{
    @Html.Raw(Context.Session.GetString(SessionConstants.ALERT))
    Context.Session.Remove(SessionConstants.ALERT);
}
<div>
    <h4>Change your account settings</h4>
    <hr />

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-3">
                <input class="form-control" value="@Model.FullName" readonly />
            </div>
            <div class="col-md-4">
                <a asp-controller="Manage" asp-action="ChangeName" class="btn btn-success green-button">Change</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-3">
                <input class="form-control" value="@Model.Email" readonly />
            </div>
            <div class="col-md-4">
                <a asp-controller="Manage" asp-action="ChangeEmail" class="btn btn-success green-button">Change</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                @if (Model.HasPassword)
                {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-success green-button">Change</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-success green-button">Create</a>
                }
            </div>
        </div>

        @if (Model.CommentsCount > 0)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Your comments</label>
                <div class="col-md-10">
                    <h4 style="display: inline;">
                        <span class="badge">@Model.CommentsCount</span>
                    </h4>
                    <a asp-controller="Manage" asp-action="Comments" class="btn btn-success green-button">Show</a>
                </div>
            </div>
        }
    </div>
</div>
