@using System.Drawing
@using Microsoft.AspNetCore.Http
@using SlideInfo.App.Helpers
@using SlideInfo.Helpers
@model SlideInfo.App.Models.SlideViewModels.AssociatedImagesViewModel

@{
    ViewData["Title"] = "Associated Images | " + Model.Name;
}
@if (Context.Session.GetString(SessionConstants.ALERT) != null)
{
    @Html.Raw(Context.Session.GetString(SessionConstants.ALERT))
    Context.Session.Remove(SessionConstants.ALERT);
}
<div id="images">

    <h2>@Model.Name | Associated images</h2>
    @if (Model.AssociatedImages != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @foreach (var item in Model.AssociatedImages)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thumb">
                            <div class="caption">
                                <h4><a asp-action="AssociatedImages" asp-route-id="@ViewData["SlideId"]" asp-route-imageName="@item.Key">@item.Key.ToSentenceCase()</a></h4>
                                <p>Original size: @item.Value.Image.Width x @item.Value.Image.Height px</p>
                            </div>
                            @{var imgName = ViewData["SlideId"] + "_" + item.Key + ".jpeg";}
                            <img src="/images/associatedThumbs/@imgName" alt="@item.Key.ToSentenceCase()">
                        </div>
                    }
                </div>
            </div>
        </div>
   }
</div>

@section scripts
{
    <script>
        $('.thumb').hover(function () {
            $(this).find('.caption').css('opacity', '1');
        }, function () {
            $(this).find('.caption').css('opacity', '0');
        });
    </script>
}