@using SlideInfo.App.Helpers
@using SlideInfo.Helpers
@using Microsoft.AspNetCore.Http
@using SlideInfo.App.Constants
@model IEnumerable<SlideInfo.App.Models.Slide>
@{
    ViewData["Title"] = "Slides";
}
@if (Context.Session.GetString(SessionConstants.ALERT) != null)
{
    @Html.Raw(Context.Session.GetString(SessionConstants.ALERT))
    Context.Session.Remove(SessionConstants.ALERT);
}
<h2>Whole-slide images</h2>

<div class="container">

    <div class="dropdown div-inline">
        <button class="btn btn-success green-button" type="button" data-toggle="dropdown">
            Sort by
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a asp-action="Index" asp-route-sortOrder="@ViewData[ViewConstants.NAME_SORT_PARAM]">Name <i class="glyphicon @Html.IsSortedDesc(@ViewData[ViewConstants.NAME_SORT_PARAM])"></i></a>
            </li>
            <li>
                <a asp-action="Index" asp-route-sortOrder="@ViewData[ViewConstants.VENDOR_SORT_PARAM]">Vendor <i class="glyphicon @Html.IsSortedDesc(@ViewData[ViewConstants.VENDOR_SORT_PARAM])"></i></a>
            </li>
            <li>
                <a asp-action="Index" asp-route-sortOrder="@ViewData[ViewConstants.WIDTH_SORT_PARAM]">Width <i class="glyphicon @Html.IsSortedDesc(@ViewData[ViewConstants.WIDTH_SORT_PARAM])"></i></a>
            </li>
            <li>
                <a asp-action="Index" asp-route-sortOrder="@ViewData[ViewConstants.HEIGHT_SORT_PARAM]">Height <i class="glyphicon @Html.IsSortedDesc(@ViewData[ViewConstants.HEIGHT_SORT_PARAM])"></i></a>
            </li>
        </ul>
    </div>
    <a asp-action="Update" class="btn btn-default">Rescan slides</a>

    <form class="form-inline div-inline-right pull-right" asp-action="Index" method="get">
        @if (ViewData[ViewConstants.CURRENT_FILTER] != null)
        {
            <a asp-action="Index" class="btn btn-default" role="button">Refresh</a>
        }
        <input type="text" class="form-control" placeholder="Find slide..." name="searchString" value="@ViewData[ViewConstants.CURRENT_FILTER]">
        <input type="submit" value="Search" class="btn btn-success green-button" />
    </form>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @foreach (var slide in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 thumb">
                    <div class="caption">
                        <h4><a asp-action="Display" asp-route-id="@slide.Id">@slide.Name</a></h4>
                        <ul style="list-style-type: none">
                            <li>
                                Vendor: @slide.Vendor.ToSentenceCase()
                            </li>
                            <li>
                                Original size: @slide.Width x @slide.Height
                            </li>
                            <li class="divider"><hr /></li>
                            <li>
                                <a asp-action="Properties" asp-route-id="@slide.Id">Properties</a>
                            </li>
                            @if (slide.HasAssociatedImages)
                            {
                                <li>
                                    <a asp-action="AssociatedImages" asp-route-id="@slide.Id">Associated Images</a>
                                </li>
                            }
                            @if (slide.Comments != null && slide.Comments.Any())
                            {
                                <li>
                                    <a asp-action="Comments" asp-route-id="@slide.Id">Comments</a>
                                </li>
                            }
                        </ul>

                    </div>

                    @{var imgName = slide.Name.ToUrlSlug() + ".jpeg";}
                    <img src="/images/slideThumbs/@imgName" alt="@slide.Name">
                </div>
                        }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.thumb').hover(function () {
            $(this).find('.caption').css('opacity', '1');
        }, function () {
            $(this).find('.caption').css('opacity', '0');
        });
    </script>
}